.DS_Store
.sass-cache
*.iml
.idea
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.log
*.class
*.tmp_*
.build
*.pyc
*.pkl
.logs
spm_modules
node_modules
config.rb
web/apps/*/config.py
celerybeat-schedule
celerybeat.pid
web/apps/task/goods/**/*.zip
web/apps/task/goods/**/*.json

